registry=https://registry.npmjs.org/
fetch-retries=4
fetch-retry-factor=2
fetch-retry-maxtimeout=60000
fetch-retry-mintimeout=15000
network-timeout=600000
strict-peer-dependencies=false
auto-install-peers=true
